body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#container {
  max-width: 600px;
  margin: auto;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
}

#yearInfo {
  margin-top: 20px;
}

main {
  padding: 20px 0;
}

#pieChart {
  height: 300px; /* Adjust as needed */
  margin-bottom: 20px;
}

footer {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #eeeeee;
}

input[type="text"],
input[type="number"] {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #0056b3;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #003d82;
}

