body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #e0e0e0; /* This sets the background to grey */
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  width: 375px; /* iPhone width */
  background-color: #ffffff;
  /* Add other styling for the container as needed */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for better aesthetics */
  margin-top: 50px; /* Adjust as needed to center on the screen */
}


header {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
}

#yearInfo {
  margin-top: 20px;
}

main {
  padding: 20px 0;
}

#pieChart {
  height: 300px; /* Adjust as needed */
  margin-bottom: 20px;
}

footer {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #eeeeee;
}

input[type="text"],
input[type="number"] {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #0056b3;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #003d82;
}

@media (max-width: 768px) {
  #container {
    width: auto;
    margin: 10px;
  }

  footer {
    flex-direction: column;
    align-items: stretch;
  }

  input[type="text"],
  input[type="number"] {
    width: auto; /* Let the inputs take the full width on small screens */
    margin-bottom: 10px; /* Add space between the stacked inputs */
  }

  button {
    width: 100%;
  }
}
