body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #e0e0e0; /* This sets the background to grey */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif; /* Optional: Sets a default font for your app */
}

#container {
  width: 375px; /* iPhone width */
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for better aesthetics */
  margin-top: 50px; /* Adjust as needed to center on the screen */
  border-radius: 20px; /* Optional: if you want rounded corners */
}

header {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #eeeeee;
}

#yearInfo {
  margin-top: 20px;
}

main {
  padding: 20px;
}

#pieChart {
  height: 300px; /* Adjust as needed */
  margin-bottom: 20px;
  position: relative; /* Ensures that the canvas is correctly positioned */
}

#inputContainer {
  text-align: center;
  margin-bottom: 20px; /* Spacing between input section and category list */
}

#categoryList {
  margin-top: 20px;
}

input[type="text"],
input[type="number"],
select {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  font-size: 16px; /* Makes the text easy to read */
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #0056b3;
  color: white;
  cursor: pointer;
  font-size: 16px; /* Matches the input text size */
}

button:hover {
  background-color: #003d82;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  #container {
    width: auto;
    margin: 10px;
  }

  #inputContainer, 
  #categoryList, 
  footer {
    flex-direction: column;
    align-items: stretch;
  }

  input[type="text"],
  input[type="number"],
  select {
    width: calc(100% - 22px); /* Full width minus padding and border */
    margin-bottom: 10px; /* Add space between the stacked inputs */
  }

  button {
    width: 100%;
  }
}

